<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to SE Planet </title>
        <link href="{{url_for('static', path='styles/forum_style.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="top-bar">
            <p><img src="{{url_for('static',path = 'images/se-logo.png')}}"></p>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/flashcard"><li>Flashcard</li></a>
                    <a href="/forum"><li>Forum</li></a>
                    <a href="/chat"><li>Chat</li></a>
                    <a href="/office-of-the-registra"><li>Office of the Registra</li></a>
                </ul>
            </nav>
        </div>
        <div class="main-body">
                <nav>
                    <ul>
                    {% for post in forums %}
                        {% if post.id == id %}
                        <div class="post">
                            <li>
                            
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.description }}</p>
                                <h3>posted by: {{ post.username}}</h3>
                                <img src="{{post.file}}">
                            </li>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
                <h2> Comments </h2>
                <div class="comments">

                    <ul>
                {% for post in forums %}
                    {% if post.id == id %}
                        {% for comment in post.comments%}
                        
                            <li> {{comment}} </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                    </ul>
                </div>
            <div class="comment-bar">
                <form method="post" action="/forum/comment/{{id}}/">
                    <input type="text" id="comment" name = "comment" class="comment-input" placeholder="Type your comment...">
                    <button class="send-button" value="submit">Send</button>
                </form>
                
            </div>
            <h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
        </div>
        
    </body>

    <script>
      
    </script>
</html>
