<!DOCTYPE html>
<html>
    <head>
        <title> Welcome to SE Planet </title>
        <link href="{{url_for('static', path='styles/office_style.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="top-bar">
            <p><img src="{{url_for('static',path = 'images/se-logo.png')}}"></p>
            <nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/flashcard"><li>Flashcard</li></a>
                    <a href="/forum"><li>Forum</li></a>
                    <a href="/chat"><li>Chat</li></a>
                    <a href="/office-of-the-registra"><li>Office of the Registra</li></a>
                </ul>
            </nav>
        </div>
        <div class="main-body">
                <h1>Office of the Registrar</h1>
                <div class="office-list">
                    <nav>
                        <ul>
                            <a href="https://new.reg.kmitl.ac.th/reg/?#/" target="_blank"><li>Courses<p>Check, add, withdraw courses</p></li></a>
                            <a href="https://new.reg.kmitl.ac.th/reg/#/teach_table_selector" target="_blank"><li>Schedule<p>Check schedule of each year or semester</p></li></a>
                            <a href="https://new.reg.kmitl.ac.th/reg/#/payment" target="_blank"><li>Tution Fee<p>Check, Pay tuition fee</p></li></a>
                            
                            <a href="https://www.reg.kmitl.ac.th/u_student/" target="_blank"><li>Transcript<p>See transcript, print transcript</p></li></a>
                            <a href="https://ces.kmitl.ac.th" target="_blank"><li>Teacher Evaluation<p> Evaluate teachers from experience</p></li></a>
                            <a href="http://www.reg.kmitl.ac.th/educalendar/index.php" target="_blank"><li>Academic Calendar<p> Check event dates</p></li></a>
                            
                        </ul>
                    </nav>
                </div>
                <h1></h1>
                
        </div>
        
    </body>
</html>
